@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
header {
    background-image: linear-gradient(20deg, #00f2ff 0%, #0e00d6 109%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.logo {
    text-decoration: none;
    color: rgb(46, 180, 242);
    box-shadow: 0 0 10px #000956;
    border-radius: 30px;
    text-transform: uppercase;
    width: 60px;
}



.navigation a{
    color: rgb(230, 252, 255);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 99px;
    font-size: 1.3em;
    font-weight: 500;
    padding: .2cm;
    letter-spacing: 1.1px;
    transition: .3s ease;
}
.navigation a:hover{
    color: rgba(255, 255, 255, 0.615);
    
}

section {
    padding: 100px 200px;
}



.main::before {
    content: '';
    position: absolute;
    background-image: url(images/thealtony\ &\ adobe\ fixed\ 4.png);
    display: flex;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    transform: scale(.9);
    background-size: cover;
    background-position: center -215px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/bg\ main.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    background-size: cover;
    background-position: center;
}

.main h1 {
    position: absolute;
    background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
    color: transparent;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.6cm;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 79px;
    text-shadow: 0 0 15px;
    scale: 0;
    animation: ani-altony 3.5s infinite alternate;
}

@keyframes ani-altony {
    0% {
        text-shadow: 0 0 20px #00f2ff94;
        transform: scale(1);
      }
      50% {
        text-shadow: 0 0 40px #00f2ff;
        transform: scale(1.1);
      }
      100% {
        text-shadow: 0 0 20px #00f2ff7c;
        transform: scale(1);
      }
}

.main h2 {
    position: relative;
    color: aliceblue;
    font-size: 1.4cm;
    font-weight: 00;
    font-family: sans-serif;
}


.main h2 span {
    position: relative;
    display: inline-block;
    color: #ff0000;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 2ch;
    font-weight: 600;
    text-shadow: 0 0 30px, 0 0 9px #000000;
    transition: .3s ease;
}

.main h3 {
    position: relative;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 1;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: .5s ease ;
}

.main h3:hover {
    position: relative;
    text-shadow: 0 0 10px, 0 0 5px #000 ;
}

.main-btn {
    position: relative;
    font-family: ;
    color: aliceblue;
    background-color: #1900ff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 00;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgb(30, 0, 255), 0 0 40px blue;
    transition: 0.7s ease;
}

.main-btn:hover {
    position: relative;
    background-color: #00f7ff;
    color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
}

.icons a {
    position: relative;
    font-size: 1.7em;
    padding-right: 40px;
    padding-top: 0px;
    transition: 0.3s ease;
    text-decoration: none;
}

.icons a:hover {
    position: relative;
    padding-left: 8px;
    text-decoration: none;
}

.title {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: #003cff;
    text-decoration: none;
    font-size: 2.2em;
    font-weight: 1000;
    margin-bottom: 30px;
    text-decoration: none;
    text-shadow: 0 0 45px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.card- {
    background-color: #f983832a;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 33%);
    border-radius: 22px;
    padding: 25px;
    margin: 15px;
    transition: .6s ease;
}


.card0 {
    background-color: #25d56b2a;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 33%);
    border-radius: 22px;
    padding: 25px;
    margin: 15px;
    transition: .6s ease;
}

.card3 {
    background-color: #d2d5252a;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 33%);
    border-radius: 22px;
    padding: 25px;
    margin: 15px;
    transition: .6s ease;
}

.card3:hover {
    transform: scale(1.1);
}

.card0:hover {
    transform: scale(1.1);
}

.card-:hover {
    transform: scale(1.1);
}

.info {
    text-align: center;
    letter-spacing: .2px;
}

.card3 .info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card0 .info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card- .info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card- .info h3 {
    color: #8d0000;
}

.card3 .info h3 {
    color: #8a8d00;
}

.card0 .info h3 {
    color: #27c400;
}

.info h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff910a;
    text-shadow: 0 0 27px ;
    font-size: 1.2em;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
}

.main-btn1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #ff0000;
    text-decoration: none;
    font-size:1.4em;
    font-weight: 00;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-top: 35px;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
    transition: 0.7s ease;
}

.main-btn1:hover {
    background-color: #00f7ff;
    color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
}

.icon1 {
    color: #ff0000;
    font-size: 8em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 50px, 0 0 20px #000000;
}

.icon2 {
    color: #00ff08;
    font-size: 8em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    text-shadow: 0 0 50px, 0 0 20px #000000;
}

.icon3 {
    color: #feed00;
    font-size: 8em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    text-shadow: 0 0 50px, 0 0 20px #000000;
}

.projects {
    background-image: linear-gradient(20deg, #000956 0%, #1980ff 109%);
}

.projects .content{
    margin-top: 30px;
    font-size: 14px;
}

.projects .title {
    color: #2bff00;
    text-shadow: 0 0 30px, 0 0 14px #000;
}

.project-card {
    background-color: #ffffff;
    border: 4px solid #ff0000;
    box-shadow: 0 0 27px #ff0000;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 22px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card2 {
    background-color: #ffffff;
    border: 4px solid #00ff08;
    box-shadow: 0 0 27px #00ff08;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 22px;
    margin: 20px;
    transition: 0.7s ease;
}



.project-card3 {
    background-color: #ffffff;
    border: 4px solid #feed00;
    box-shadow: 0 0 27px #feed00;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 22px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
   box-shadow: 0 0 52px #ff0000;
}

.project-card2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 52px #37ff00;
}

.project-card3:hover {
    transform: scale(1.1);
    box-shadow: 0 0 52px #fff700;
}

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
    font-size: 1.1em;
    color: #000000;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.project-title span {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.more-details {
    text-decoration: none;
    color: #a90000;
    transition: 0.3s ease;
    font-family: sans-serif;
    font-weight: 800;
}

.more-details:hover {
    padding-right: 3px;
}

.more-details2 {
    text-decoration: none;
    color: #007e04;
    transition: 0.3s ease;
    font-family: sans-serif;
    font-weight: 800;
}

.more-details2:hover {
    padding-right: 3px;
}

.more-details3 {
    text-decoration: none;
    color: #928f00;
    transition: 0.3s ease;
    font-family: sans-serif;
    font-weight: 800;
}

.more-details3:hover {
    padding-right: 3px;
}

.content2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content2 .icon{
    font-size: 4.5em;
    text-align: center;
    color: #00ff1e;
    text-shadow: 0 0 90px #00ff08,0 0 50px #00ff08, 0 0 10px #000;
}

.content2 .info h3 {
    color: #00ff11;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 0.3px;
}

.info-of-contact {
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

.info-of-contact:hover {
    color: #9f9f9f;
}

.card {
    background-color: #002607;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 33%);
    border-radius: 22px;
    padding: 25px;
    margin: 15px;
    transition: .6s ease;
}


.card:hover {
    transform: scale(1.1);
}



@media (max-width:385px) {
    .card {
    animation: hoveranimation 3s infinite alternate;
}

@keyframes hoveranimation {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}



}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    font-family: p;
    color: #00a2ff;
}

.footer .icons {
    padding-left: 65em;
}

.num {
    color: #ffffff;
    transition: 0.2s ease;   
    text-decoration-line: line-through; 
}

.num:hover {
    color: #797979;
}

.main {
    color: #fff;
}

@media (max-width:1200px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 2.3em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2 span{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: row;
        align-items: center;
        font-size: 13px;
    }

    .projects-card {
        flex-direction: column;
        place-content: center;
        margin: auto;

    }
    
    .card-contact .card {
        flex-direction: column;
        place-content: center;
        margin: auto;
    }

    .card-contact .card2 {
        flex-direction: column;
        place-content: center;
        margin: auto;
        margin-top: 40px;
    }

}

@media (max-width:1000px){
    .main h1 {
        position: absolute;
        background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
        color: transparent;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.6cm;
        font-weight: 700;
        font-family: sans-serif;
        padding-left: 124px;
        text-shadow: 0 0 15px;
        scale: 1;
        animation: ani-altony 3.5s infinite alternate ease;
    }
    
    @keyframes ani-altony {
        0% {
            text-shadow: 0 0 20px #00f2ff94;
            transform: scale(1);
          }
          50% {
            text-shadow: 0 0 40px #00f2ff;
            transform: scale(1);
          }
          100% {
            text-shadow: 0 0 20px #00f2ff7c;
            transform: scale(1);
          }
    }



    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 2.3em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2 span{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: row;
        align-items: center;
        font-size: 13px;
    }

    .projects-card {
        flex-direction: column;
        place-content: center;
        margin: auto;

    }
    
    .card-contact .card {
        flex-direction: column;
        place-content: center;
        margin: auto;
    }

    .card-contact .card2 {
        flex-direction: column;
        place-content: center;
        margin: auto;
        margin-top: 40px;
    }
    .main::before {
        content: '';
        position: absolute;
        background-image: url(images/thealtony\ &\ adobe\ fixed\ 4.png);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        scale: 0;
    }

}



@media (max-width:641px){
    .main h1 {
        position: absolute;
        background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
        color: transparent;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.6cm;
        font-weight: 700;
        font-family: sans-serif;
        padding-left: 70px;
        text-shadow: 0 0 15px;
        scale: 1;
        animation: ani-altony 3.5s infinite alternate ease;
    }
    
    @keyframes ani-altony {
        0% {
            text-shadow: 0 0 20px #00f2ff94;
            transform: scale(1);
          }
          50% {
            text-shadow: 0 0 40px #00f2ff;
            transform: scale(1);
          }
          100% {
            text-shadow: 0 0 20px #00f2ff7c;
            transform: scale(1);
          }
    }

    body{
        font-size: 12px;
    }

    .main h2 span{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 1.9em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .main-btn {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        font-size: 14px;
    }

    .card-contact {
        font-size: 14px;
    }
    
}

@media (max-width:321px){
    .main h1 {
        position: absolute;
        background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
        color: transparent;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.2cm;
        font-weight: 700;
        font-family: sans-serif;
        padding-left: 0px;
        text-shadow: 0 0 15px;
        scale: 1;
        animation: ani-altony 3.5s infinite alternate ease;
    }
    
    @keyframes ani-altony {
        0% {
            text-shadow: 0 0 20px #00f2ff94;
            transform: scale(1);
          }
          50% {
            text-shadow: 0 0 40px #00f2ff;
            transform: scale(1);
          }
          100% {
            text-shadow: 0 0 20px #00f2ff7c;
            transform: scale(1);
          }
    }

    body{
        font-size: 12px;
    }

    .main h2 span{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 2em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .main-btn {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        font-size: 11px;
    }

    .card-contact {
        font-size: 10px;
    }

    .card-contact .info {
        font-size: 18px;
    }

    .card-contact .info {
        font-size: 18px;
    }

    .projects-card {
        font-size: 11px;
    }

    .card-contact .card2 .info .num {
        font-size: 12px;
    }

    
}

@media (max-width:375px){
    .main h1 {
        position: absolute;
        background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
        color: transparent;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.4cm;
        font-weight: 700;
        font-family: sans-serif;
        padding-left: 0px;
        text-shadow: 0 0 15px;
        scale: 1;
        animation: ani-altony 3.5s infinite alternate ease;
    }
    
    @keyframes ani-altony {
        0% {
            text-shadow: 0 0 20px #00f2ff94;
            transform: scale(1);
          }
          50% {
            text-shadow: 0 0 40px #00f2ff;
            transform: scale(1);
          }
          100% {
            text-shadow: 0 0 20px #00f2ff7c;
            transform: scale(1);
          }
    }
    
    .project-card {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        font-size: .8em;
    }

    .project-card2 {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        font-size: .8em;
    }

    .project-card3 {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        font-size: .8em;
    }

    .main::before {
        content: '';
        position: absolute;
        background-image: url(images/thealtony\ &\ adobe\ fixed\ 4.png);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        scale: 0;
    }
}

@media (max-width:641px){
    .main h1 {
        position: absolute;
        background-image: linear-gradient(to right, #00f7ff 55%, #0016b9 100%); 
        color: transparent;
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.4cm;
        font-weight: 700;
        font-family: sans-serif;
        padding-left: 0px;
        text-shadow: 0 0 15px;
        scale: 1;
        animation: ani-altony 3.5s infinite alternate ease;
    }
    
    @keyframes ani-altony {
        0% {
            text-shadow: 0 0 20px #00f2ff94;
            transform: scale(1);
          }
          50% {
            text-shadow: 0 0 40px #00f2ff;
            transform: scale(1);
          }
          100% {
            text-shadow: 0 0 20px #00f2ff7c;
            transform: scale(1);
          }
    }
    body{
        font-size: 12px;
    }
    .card {
        animation: hoveranimation 3s infinite alternate;
    }
    
    @keyframes hoveranimation {
        0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
    }
    .main h2 span{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 1.9em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .main-btn {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        font-size: 14px;
    }

    .card-contact {
        font-size: 14px;
    }
    .main::before {
        content: '';
        position: absolute;
        background-image: url(images/thealtony\ &\ adobe\ fixed\ 4.png);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        scale: 0;
    }
}

@media (max-width:385px){
    body{
        font-size: 12px;
    }

    .main h2 span{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 2em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .main-btn {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        font-size: 11px;
    }

    .card-contact {
        font-size: 10px;
    }

    .card-contact .info {
        font-size: 18px;
    }

    .projects-card {
        font-size: 11px;
    }

    .card-contact .card2 .info .num {
        font-size: 12px;
    }

    .main::before {
        content: '';
        position: absolute;
        background-image: url(images/thealtony\ &\ adobe\ fixed\ 4.png);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        scale: 0;
    }

}

.content {
   
    animation: hoverAnimation 3s infinite alternate;
  }
  

  @keyframes hoverAnimation {
    121% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }